{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}{%endblock%}</title>
<!--      <link rel = "stylesheet"  href="{% static 'main/style.css'%}">-->
    <link rel = 'stylesheet' href = "{%static 'style/style.css'%}">
</head>
<body>


<ul class="sidebar-nav">
   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li>Hello, Guest!</li>
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
    <li><a href="{% url 'reg'%}?next={{request.path}}">REG</a></li>
   {% endif %}
</ul>


<nav>
<ul>
    <li><a href="{%url 'main' %}">Main</a></li>
    <li><a href="{%url 'profile'%}">Account</a></li>
    <li><a href="">Any</a></li>
</ul>
</nav>


{%block content%}

{%endblock%}

</body>
</html>